<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title %> - Guides - Mongorito</title>
    
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' %>
    <%= stylesheet_link_tag "guides" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="container">
      <nav class="navbar row">
        <ul class="nine columns">
          <li><a class="logo" href="<%= url_for '/' %>"><i class="icon icon-home"></i></a></li>
          <li><%= link_to 'Mongorito', '/' %></li>
          <li><%= link_to 'Quick Start', '/guides/getting-started' %></li>
          <li><%= link_to 'Guides', '/guides' %></li>
        </ul>
        
        <ul class="three columns">
          <li><a href="https://github.com/vdemedes/mongorito" target="_blank">Github</a></li>
        </ul>
      </nav>
      
      <%= yield %>
      
      <footer>Made by <a href="https://twitter.com/vdemedes" target="_blank">Vadim Demedes</a></footer>
    </div>
    
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' %>
    
    <script>
  	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	  ga('create', 'UA-56814364-1', 'auto');
  	  ga('send', 'pageview');
  	</script>
  </body>
</html>